<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Buses:codes</h2><h4>>> vizag-VJ, guntur-GT, warangal-WG</h4>
    <h3>AC sleeper</h3>
    <table border="2">
        <tr>
            <th colspan="5">Bus Number</th>
        </tr>
        <tr>
            <td>VJ6531-LB</td>
            <td>VJ6532-UB</td>
            <td>VJ6533-LB</td>
            <td>VJ6534-UB</td>
            <td>VJ6535-LB</td>
            <td>VJ6536-UB</td>
            <td>VJ6537-LB</td>
            <td>VJ6538-UB</td>
            <td>VJ6539-LB</td>
            <td>VJ6540-UB</td>
            <td>VJ6541-LB</td>
            <td>VJ6542-UB</td>

            
        </tr> </table>
    <h3>Non-AC sleeper</h3>
    <table border="2">
        <tr>
            <th colspan="5">Bus Number</th>
        </tr>
            <tr>
                <td>WG6621-LB</td>
                <td>WG6622-UB</td>
                <td>WG6623-LB</td>
                <td>WG6624-UB</td>
                <td>WG6625-LB</td>
                <td>WG6626-UB</td>
                <td>WG6627-LB</td>
                <td>WG6628-UB</td>
                <td>WG6629-LB</td>
                <td>WG6630-UB</td>
                <td>WG6631-LB</td>
                <td>WG6632-UB</td>
                <td>WG6633-LB</td>                
            </tr> </table>

    <h3>AC Multi Axle Semi sleeper</h3>
    <table border="2">
        <tr>
            <th colspan="5">Bus Number</th>
        </tr>
            <tr>
                <td>AP6721</td>
                <td>AP6722</td>
                <td>AP6723</td>
                <td>AP6724</td>
                <td>AP6725</td>
                <td>AP6726</td>
                <td>AP6727</td>
                <td>AP6728</td>
                <td>AP6729</td>
                <td>AP6730</td>
                <td>AP6731</td>
                <td>AP6732</td>

            </tr> </table>
    
    <h3>AC seater</h3>
    <table border="2">
        <tr>
            <th colspan="5">Bus Number</th>
        </tr>
            <tr>
                <td>VJ6500</td>
                <td>VJ6501</td>
                <td>VJ6502</td>
                <td>VJ6503</td>
                <td>VJ6504</td>
                <td>VJ6505</td>
                <td>VJ6506</td>
                <td>VJ6507</td>
                <td>VJ6508</td>
                <td>VJ6509</td>
                <td>VJ6510</td>
                <td>VJ6511</td>

            </tr> </table>

        <h3>Super Luxery</h3>
    <table border="2">
        <tr>
            <th colspan="5">Bus Number</th>
        </tr>
            <tr>
                <td>HY1111</td>
                <td>HY1112</td>
                <td>HY1113</td>
                <td>HY1114</td>
                <td>HY1115</td>
                <td>HY1116</td>
                <td>HY1117</td>
                <td>HY1118</td>
                <td>HY1119</td>
                <td>HY1120</td>
                <td>HY1121</td>
                <td>HY1122</td>
                <td>HY1123</td>
                <td>HY1124</td>
            </tr> </table>

            <h3>Deluxe</h3>
            <table border="2">
                <tr>
                    <th colspan="5">Bus Number</th>
                </tr>
                    <tr>
                        <td>GU2500</td>
                        <td>GU2501</td>
                        <td>GU2502</td>
                        <td>GU2503</td>
                        <td>GU2504</td>
                        <td>GU2505</td>
                        <td>GU2506</td>
                        <td>GU2507</td>
                        <td>GU2508</td>
                        <td>GU2509</td>
                        <td>GU2510</td>
                        <td>GU2511</td>
                        <td>GU2512</td>

                    </tr> </table>

    <h3><a href="/elite">Elite</a></h3>
    <h3><a href="/premium">Premium</a></h3>
    <h3><a href="/normal">Normal</a></h3>
    
</body>
</html>