<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Login Page</h1>
    {{msg}}
    <form method="POST">
        {% csrf_token %}
        Username:
        <input type="text" name='b2' required><br>
        Password:
        <input type="password" name='b3' required><br>
    
        <input type="submit" value="submit">
        
    </form>
</body>
</html>