<h1>e-ticket</h1>
<h3>YOUR TICKET BOOKED SUCCESSFULLY</h3>
<li>Passenger_name:{{user.form}}</li>
<li>Bus_number:{{user.form}}</li>
<li>Bus_type:{{user.form}}</li>
<li>Source:{{user.form}}</li>
<li>Destination:{{user.form}}</li>



<!-- <div class="modal-body">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Passenger_name:</b> {{user.form}}</li>
        <li class="list-group-item"><b>Bus_No:</b> {{user.form}}</li>
        <li class="list-group-item"><b>Bus_type:</b> {{user.form}}</li>        
        <li class="list-group-item"><b>Source:</b> {{user.form}}</li>
        <li class="list-group-item"><b>Destination:</b> {{user.form}}</li>
        <!-- <li class="list-group-item"><b>Departure date and time:</b> {{book.time}}</li> -->
    <!-- </ul>
    Thank You
</div> --> -->